/* Container Styles */
.password-container {
    width:80%;  
    margin: 0 auto;
    border-radius: 70px;
}

section{
    color: white;
    background-image: url("images/sos-charities.jpg");
}
.food-labels label {
     width: 150px; /* Adjust label width as needed */
    margin-right: 30px; /* Space between label and input */
    text-align: left; /* Align text to the right */
    
}

.food-labels input {
    flex: 0.3; /* Allows input to fill the remaining space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: translateX(30vh);
}

/* Button Styles */
.button {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #780060;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2{
    text-align: center;
    color: white;
}

.footer { 
    background-color: #780060;
    padding: 20px;
}
.footer .navbar ul {
    justify-content: center;
}

.password-container{
    background-color: rgb(220, 80, 225);
}


.food{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 10px;
}
.food-labels{
    flex: 1 1 40%;
    margin: 10px;
    padding: 10px;
    align-items: center; 
}

#time{
    
    transform: translateX(35vh);
}

#time1{
    
    transform: translateX(35vh);
}
#time2{
    
    transform: translateX(28vh);
}
#Org{
    
    transform: translateX(21vh);
}
#address2{
    
    transform: translateX(15vh);
}
#suburb{
    
    transform: translateX(22vh);
}
#city{
    
    transform: translateX(25vh);
}
#Province{
    
    transform: translateX(21vh);
}
#pCode{
    transform: translateX(17vh)
}

.navbar{
    background-color: purple;
    background-size:cover;
    margin: auto;
}

.logout{
    float: right;
    text-decoration: none;
    transform: translateY(-10vh);
}

nav ul {
    
    background-size:cover;
    display: block;
    margin: auto;
   

}

.navbar1 ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}
  
.navbar li{
    
        float: left;
}
.icon li{
    float: left;
}


  
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


nav ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}
nav ul li a.active{
    background-color:aqua;
    border-radius: 5px;
    
}
.icon{
    transform: translateX(90vh);
}

p{
    transform: translateX(-30vh);
}
.navbar img{
    transform: translateX(-6vh);
}

.copy{
    transform: translateX(90vh);
    
}


.radio-group {
    display: inline;
    align-items:center;
    margin-right: -80px; /* Space between options */
}

.radio-group input[type="radio"] {
    margin-right:95px; /* Adjust spacing between radio button and label */
}

    

