@import url('https://fonts.googleapics.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

section{
    min-height: 100vh;
    background-image: url("../Images/sos-charities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    
  }

  .sign{
    color: green;
    text-decoration: underline;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


nav ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}
nav ul li a.active{
    background-color:aqua;
    border-radius: 5px;
    
}
.article{
    width: 50%;
    margin:auto;
    text-align: left;
    transform: translateY(25vh);
}
.article h1{
   font: size 36px;
   color:black; 
   letter-spacing: 1.5px;
   font-weight: 800;
   margin-bottom: 25px;
}





.article .btn:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}
nav ul {
    background-color: rgb(167, 98, 161);
    background-size:cover;
}



.white{
    color: white;
    
}
.green{
    color: rgb(72, 1, 56);
}

.footer{
    text-align:right;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.field{
    
    color:white;
}
.field {
    height: 500px;
    width: 500px;
    background-color: #dc72df;
    border-radius: 30px;
    display: block;
    margin:60px; 
    text-align: center;
    
    
    
  }

  .button {
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #620265;
    
  }
  
  #type1 input{
    width: 1em;
    margin-left: .5em;
    margin-bottom: .5em;
    text-align: left;
  }
  input{
    
    margin-left: 1em;
    margin-bottom: .5em;
    
  }
  label{
    float: left;
    width: 8em;
    text-align: left;
  }
.field p{
    color: rgb(255, 0, 0);
   /* text-align: left;*/
}

.field{
  transform: translateX(50vh);
}
label{
  transform: translateX(15vh);
}

.field a{
  text-decoration: none;
  color: white;
}